  #sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1f2227;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    transition: all 0.3s ease;
  }

  #sidebar .logo-section {
    background: #fff;
    margin: 12px;
    padding-top: 14px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 18px;
  }

  #sidebar .logo-section img {
    height: 120px;
    width: auto;
  }

  #sidebar .logo-section h5 {
    margin-top: 10px;
    font-weight: 600;
    color: #000;
  }

  #sidebar .nav-link {
    color: #ddd;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 4px 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }

  #sidebar .nav-link i {
    margin-right: 10px;
    font-size: 16px;
  }

  #sidebar .nav-link:hover,
  #sidebar .nav-link.active {
    background-color: #ebb41e;
    color: #000;
    font-size: 17px;
  }

  #sidebar::-webkit-scrollbar {
    width: 0;
  }

  #sidebar {
  z-index: 1000;
}